# Environment variables
.env
.env.template

ckeckapi.py

# Virtual environment
.venv/
venv/
ENV/

# ChromaDB files
chroma_db/

# Python
__pycache__/
*.py[cod]
*$py.class

# Processed data
processed_data/
# Ignore all files in processed_data directory
processed_data/*

# IDE
.vscode/
.idea/
